@import "fonts";
@import "variables";
@import "register";
@import "buttons";
@import "logout";
@import "navigation";
@import "edit-block";
@import "article";
@import "filters";

body {
  background: $color-1;
  font-family: $font-1;
  color: $color-2;
  font-weight: 300;
  background: red;
}


.filter {
  float: left;
  margin: 1em 1em 1em 0;
  cursor: pointer;
  color: $color-3;
  font-size: .9em;
  text-decoration: underline;

  &.active {
    text-decoration: none;
  }
}

.filters {

  .filter {
    @extend .filter;
  }

  clear: both;
}

.text-input {
  font-size: 1em;
  padding: .4em;
  border-radius: 1em;
  outline:none;
}

.textarea {
  @extend .text-input;

  border: 0;
  font-size: .9rem;
}

li {
  float: right;
  width: 100%;

  &.done {
    text-decoration: line-through;
    color: $color-4;
  }

  .buttons {
    width: 5em;
    float: right;
    cursor: pointer;

    .status {
      color: $color-5;
      float: left;

      &.done {
        color: $color-6;
      }
    }

    .remove {
      color: #fff;
      background: $color-5;
      border-radius: 1em;
      padding: .1em;
      width: 1em;
      height: 1em;
      line-height: .9em;
      text-align: center;
      float: right;
    }
  }

}

.online {
  color: $color-6;
}

.offline {
  color: $color-5;
}
//
///* MORE THAN 75 */
//body { background-color: skyBlue; }
//
///* LESS THAN 75 */
//@media (max-width: 74.9em) { body {background-color: pink;} }
//
///* LESS THAN 62 */
//@media (max-width: 61.9em) { body {background-color: blue;} }
//
///* LESS THAN 48 */
//@media (max-width: 47.9em) { body {background-color: green;} }
//
///* LESS THAN 34 */
//@media (max-width: 33.9em) { body {background-color: red;} }



